	<body ng-controller="detailsCtrl">
		
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src="images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">TMO Weather APPLICATION</h1>
							<small class="site-description">tagline goes here</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a ui-sref="home">Home</a></li>			
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

			<main class="main-content">
				<div class="container">
					<div class="breadcrumb">
						<a ui-sref="home">Home</a>
						<span>{{cityName}}</span>
					</div>
				</div>

				<div class="fullwidth-block">
					<div class="container" style="margin-top:30px;margin-bottom:30px">
						<div class="col-md-5">
							<div class="contact-details">
								<div class="map" >
									
									<img src={{individualCityDetails.status}} style="width:300px;margin-left:70px;margin-top:20px;margin-bottom:20px"></img>
								</div>
								<div class="contact-info">
									<address>
									
									</address>
									
									
								</div>
							</div>
						</div>
						<div class="col-md-6 col-md-offset-1">
							<h2 class="section-title">{{cityName}}</h2>
							
							<div class="contact-form">
								<div class="row">
									<div class="col-md-6"><input type="text" placeholder="County {{individualCityDetails.data.sys.country}}" readonly></div>
									<div class="col-md-6"><input type="text" placeholder="Temperature {{individualCityDetails.data.main.temp}}" readonly></div>
								</div>
								<div class="row">
									<div class="col-md-6"><input type="text" placeholder="Wind Speed {{individualCityDetails.data.wind.speed}}" readonly></div>
									<div class="col-md-6"><input type="text" placeholder="Humidity {{individualCityDetails.data.main.humidity}}" readonly></div>
									<div class="col-md-6"><input type="text" placeholder="Sea Level {{individualCityDetails.data.main.sea_level}}" readonly></div>
									<div class="col-md-6"><input type="text" placeholder="Description {{individualCityDetails.data.weather[0].description}}" readonly></div>
								</div>
								
								
							</div>

						</div>
					</div>
				</div>
				
			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<div class="row">
							<p class="colophon">Copyright 2016 T-Mobile. All rights reserved</p>
						
					</div>

				
				</div>
			</footer> <!-- .site-footer -->
		</div>
		
		
		
	</body>